{% extends 'warehouse/warehouse_base.html' %}
{% load static %}
{% block content %}
{% include 'shared/received_requests_modals/view_motorpool_req.html' %}
{% include 'shared/received_requests_modals/view_aftersales_req.html' %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Rubik', sans-serif;
    }

    #search1 {
        height: 40px;
        border: none;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        padding: 20px;
        width: 300px;
    }

    .custom-tab {
        background: none;
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        color: gray;
        border-bottom: 2px solid transparent;
        font-family: 'Rubik', sans-serif;
    }

    .custom-tab.active-tab {
        color: #033b60;
        font-weight: bold;
        border-bottom: 2px solid #033b60;
    }

    .scrollable-table {
        max-height: 550px;
        /* approximate height for 10 rows */
        overflow-y: auto;
    }
</style>

<div class="container-fluid px-5">
    <!-- Greeting and Search -->
    <i>Warehouse Department | Internal Requests > Received Requests > <span id="activeSection">Motorpool</span></i>
    <div class="row mb-5 mt-3 px-3"><input class="p-3" type="search" id="search1" placeholder="search"></div>

    <div class="d-flex gap-5 mb-5">
        <a href="">
            <button class="p-2 rounded text-white fw-bold fs-5 border-0"
                style="width: 130%; background-color: #033b60;">
                Received Requests
            </button>
        </a>

        <a href="{% url 'warehouse_sent_requests' %}">
            <button class="p-2 rounded fw-bold text-secondary fs-5 border-0"
                style="width: 155%; background-color: #d3d2d2;">
                Sent Requests
            </button>
        </a>
    </div>

    <!-- Header and Tabs -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex justify-content-start gap-3 mb-4 border-bottom">
            <button id="motorpoolBtn" class="custom-tab active-tab fs-5">Motorpool</button>
            <button id="aftersalesBtn" class="custom-tab fs-5">Aftersales</button>
        </div>
    </div>

    <div class="table-responsive border rounded-3 p-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <input type="text" class="form-control w-25 mb-3" placeholder="Search">
            <div class="d-flex align-items-center gap-2 ms-auto">
                <span class="text-secondary small">Filter by:</span>
                <select class="form-select form-select-sm" style="width: auto;">
                    <option selected>Select</option>
                    <option>Role</option>
                    <option>Status</option>
                    <option>Department</option>
                </select>
            </div>
        </div>

        <!-- Motorpool Table -->
        <div id="motorpoolTable" class="table-responsive p-2">
            <div class="scrollable-table">
                <table class="table align-middle" style="border-spacing: 0 10px; border-collapse: separate;">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Type</th>
                            <th>Related Part</th>
                            <th>Date Received</th>
                            <th>Filed by</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in "0123456789" %}
                        <tr>
                            <td>RQ-MP-000{{ i }}</td>
                            <td>Repair</td>
                            <td>MP-10{{ i }} | Fuel Pump</td>
                            <td>May 0{{ i|add:1 }}, 2024</td>
                            <td> John
                                Doe</td>
                            <td class="text-danger">Urgent</td>
                            <td><span style="background-color: rgb(220, 247, 205); border-radius: 5px;"
                                    class="p-1 text-success">Completed</span></td>
                            <td><a href="" data-bs-toggle="modal" data-bs-target="#MotorpoolRequestModal"
                                    class="text-dark me-2"><i class="bi bi-chevron-right fs-5"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Aftersales Table -->
        <div id="aftersalesTable" class="table-responsive p-2 d-none">
            <div class="scrollable-table">
                <table class="table align-middle" style="border-spacing: 0 10px; border-collapse: separate;">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Type</th>
                            <th>Related Part</th>
                            <th>Date Received</th>
                            <th>Filed by</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in "0123456789" %}
                        <tr>
                            <td>RQ-AF-000{{ i }}</td>
                            <td>Replacement</td>
                            <td>AF-20{{ i }} | Brake Pads</td>
                            <td>May 1{{ i|add:"-4" }}, 2024</td>
                            <td> Jane
                                Smith</td>
                            <td class="text-danger">Urgent</td>
                            <td><span style="background-color: rgb(220, 247, 205); border-radius: 5px;"
                                    class="p-1 text-success">Completed</span></td>
                            <td><a href="" data-bs-toggle="modal" data-bs-target="#AftersalesRequestModal"
                                    class="text-dark me-2"><i class="bi bi-chevron-right fs-5"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    const activeSection = document.getElementById('activeSection');
    const motorpoolBtn = document.getElementById('motorpoolBtn');
    const aftersalesBtn = document.getElementById('aftersalesBtn');
    const motorpoolTable = document.getElementById('motorpoolTable');
    const aftersalesTable = document.getElementById('aftersalesTable');

    motorpoolBtn.addEventListener('click', () => {
        motorpoolTable.classList.remove('d-none');
        aftersalesTable.classList.add('d-none');
        motorpoolBtn.classList.add('active-tab');
        aftersalesBtn.classList.remove('active-tab');
        activeSection.textContent = 'Motorpool';
    });

    aftersalesBtn.addEventListener('click', () => {
        aftersalesTable.classList.remove('d-none');
        motorpoolTable.classList.add('d-none');
        aftersalesBtn.classList.add('active-tab');
        motorpoolBtn.classList.remove('active-tab');
        activeSection.textContent = 'Aftersales';
    });
</script>

{% endblock %}